In [2]:
import pandas as pd
import ast
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col,  when, lower
from pyspark.sql.types import StructType, StructField, StringType, BooleanType
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
import pyspark.sql.functions as F
from pyspark.sql.functions import lit
import json
import ast
from pyspark.sql import SparkSession
from pyspark.sql import Row
from datetime import datetime, timedelta
import sys
from configparser import ConfigParser
import time

In [3]:
from IPython.core.display import HTML,display
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [4]:
# Reading the config data
config=ConfigParser(interpolation=None)
config.read('config.ini')
#DB
DB = str(config['default']['INP_DB_NM_1'])
DB2 = str(config['default']['INP_DB_NM_2'])
#input tables
input_tbl1=str(config['default']['INP_TBL_NM_1'])
input_tbl2=str(config['default']['INP_TBL_NM_2'])
input_tbl3=str(config['default']['INP_TBL_NM_3'])
input_tbl4=str(config['default']['INP_TBL_NM_4'])

related_party_df=(spark.table(".".join([DB2,input_tbl2])))
cerlic_banks_df=(spark.table(".".join([DB2,input_tbl3])))
keywords_df=(spark.table(".".join([DB2,input_tbl4])))

/opt/anaconda/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: DeprecationWarning: You passed a bytestring as `filenames`. This will not work on Python 3. Use `cp.read_file()` or switch to using Unicode strings across the board.
  app.launch_new_instance()

In [5]:
df=(spark.table(".".join([DB,input_tbl1]))).filter((F.col('data_dt')=='2023-11-21'))

In [23]:
#df.show()

+----------------+-------------------+-------+----+-----------+-----------+--------------------+-------------+--------------+------------------+-------------+--------------------+-------------------+----------------+--------+--------------------+----------+-----------+---------------+-----------+--------------------+----------------+-------------+--------------------+---------------+--------------------+--------------+---------------+---------------------+-----------------+---------+--------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+
|      txn_ref_no|           txn_date|txn_amt|mode|    channel|remitter_id|       remitter_name|remitter_type|remitter_class|remitter_sub_class|remitter_ifsc|  remitter_bank_name|remitter_account_no|remitter_cust_id|benef_id|          benef_name|benef_type|benef_class|benef_sub_class| benef_ifsc|     benef_bank_name|benef_account_no|benef_cust_id|       base_txn_text|derived_txn_txt|   rmtr_to_bene_note|online_offline|recurrance_flag|recurrance_pattern_id|verification_flag|self_flag|         txn_ref_key|channel_code|codstatus|acctstatus|msgstatus|codcurr|           datvalue|direction|msgtype|submsgtype|benef_nickname|iduserreference_2020|idrelatedref_2006|reasoncode_6346|rejectreason_6366| i_c|code|   data_dt|
+----------------+-------------------+-------+----+-----------+-----------+--------------------+-------------+--------------+------------------+-------------+--------------------+-------------------+----------------+--------+--------------------+----------+-----------+---------------+-----------+--------------------+----------------+-------------+--------------------+---------------+--------------------+--------------+---------------+---------------------+-----------------+---------+--------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+
|YESIG33250062458|2023-11-21 16:12:26| 196000|NEFT|API BANKING|       NULL|       MILKONA FOODS|         NULL|          NULL|              NULL|  YESB0UMCBHO|        YES BANK LTD|    000023700090901|            null|    NULL|RAM GOPAL PANKAJ ...|      NULL|       NULL|           NULL|BARB0COLKAN|      BANK OF BARODA|  19140400005359|         null|0231121152400333 ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250062458Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250062458|             null|           null|             null|null|null|2023-11-21|
|YESIG33250062590|2023-11-21 16:15:04| 204000|NEFT|API BANKING|       NULL|       MILKONA FOODS|         NULL|          NULL|              NULL|  YESB0UMCBHO|        YES BANK LTD|    000023700090901|            null|    NULL|RAJESH KUMAR AMRI...|      NULL|       NULL|           NULL|SBIN0020814| STATE BANK OF INDIA|     62011475176|         null|0231121155018964 ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250062590Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250062590|             null|           null|             null|null|null|2023-11-21|
|YES0N33258621289|2023-11-21 09:25:03|  16000|NEFT|     SYSTEM|       NULL|YPP LIMIT NEFT OU...|         NULL|          NULL|              NULL|  YESB0000001|        YES BANK LTD|    115063600000745|        21681546|    NULL|        GARDEN VILLA|      NULL|       NULL|           NULL|YESB0DEVB01|        YES BANK LTD|    000100052901|         null|FIDYPAY DEVELOPME...|           null|Fidypay Developme...|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258621289Y...|      ESB_FT|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    YESEB33250010255|             null|           null|             null|   C|null|2023-11-21|
|YESIG33250043711|2023-11-21 13:28:10|  50000|NEFT|API BANKING|       NULL|LANDAGE DEEPAK PR...|         NULL|          NULL|              NULL|  YESB0WANA01|        YES BANK LTD|    000101590000935|            null|    NULL|  DHIRAJ GOPAL HORE3|      NULL|       NULL|           NULL|CBIN0282811|CENTRAL BANK OF I...|      3570869218|         null|14595336 DHIRAJ G...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250043711Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250043711|             null|           null|             null|null|null|2023-11-21|
|YESIG33250044285|2023-11-21 13:28:08|  50000|NEFT|API BANKING|       NULL|LANDAGE DEEPAK PR...|         NULL|          NULL|              NULL|  YESB0WANA01|        YES BANK LTD|    000101590000935|            null|    NULL|     RANGRAO KINNAKE|      NULL|       NULL|           NULL|CBIN0282811|CENTRAL BANK OF I...|      2382043557|         null|14595302 RANGRAO ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250044285Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250044285|             null|           null|             null|null|null|2023-11-21|
|YESIG33250044292|2023-11-21 13:28:11|  40000|NEFT|API BANKING|       NULL|LANDAGE DEEPAK PR...|         NULL|          NULL|              NULL|  YESB0WANA01|        YES BANK LTD|    000101590000935|            null|    NULL|       MANGESH TADAS|      NULL|       NULL|           NULL|BKID0009715|       BANK OF INDIA| 971510100004352|         null|14595286 MANGESH ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250044292Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250044292|             null|           null|             null|null|null|2023-11-21|
|YESIG33250043714|2023-11-21 13:28:12|  70000|NEFT|API BANKING|       NULL|LANDAGE DEEPAK PR...|         NULL|          NULL|              NULL|  YESB0WANA01|        YES BANK LTD|    000101590000935|            null|    NULL|       VIKAS BESEKAR|      NULL|       NULL|           NULL|CBIN0282811|CENTRAL BANK OF I...|      3440607126|         null|14595314 VIKAS BE...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250043714Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250043714|             null|           null|             null|null|null|2023-11-21|
|YES0N33258746185|2023-11-21 17:09:52| 269000|NEFT|     SYSTEM|       NULL|  KESAVI TOURS TRAVE|         NULL|          NULL|              NULL|  ICIC0SF0002|  ICICI BANK LIMITED|       624805015285|            null|    NULL|     UPASANA TRAVELS|      NULL|       NULL|           NULL|YESB0RAJ001|        YES BANK LTD|0001110100002985|         null|         UPASANA TAC|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N332587461853...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|       34447858041DC|             null|           null|             null|null|null|2023-11-21|
|YES0N33258769534|2023-11-21 18:39:46|    700|NEFT|     SYSTEM|       NULL|ONE97 COMMUNICATI...|         NULL|          NULL|              NULL|  PYTM0123456|PAYTM PAYMENTS BA...|      7900000000197|            null|    NULL|ANIL SINGH CHAUHAN S|      NULL|       NULL|           NULL|YESB0DCBU01|        YES BANK LTD| 000134001101503|         null|NANAAWSPG20231121...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258769534P...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    PYTM233255725094|             null|           null|             null|null|null|2023-11-21|
|YES0N33258671615|2023-11-21 14:03:21|  81000|NEFT|     SYSTEM|       NULL|MAA SHAKUMBHARI E...|         NULL|          NULL|              NULL|  HDFC0001326|       HDFC BANK LTD|     50200065411385|            null|    NULL|        YES BANK LTD|      NULL|       NULL|           NULL|YESB0000824|            YES BANK| 000189900003441|     10128392|                    |           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258671615N...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    N325232747125260|             null|           null|             null|   C|null|2023-11-21|
|YES0N33258661799|2023-11-21 13:20:59| 106547|NEFT|     SYSTEM|       NULL| RAHUL S O RAMESHWAR|         NULL|          NULL|              NULL|  PUNB0203310|PUNJAB NATIONAL BANK|     20332191001134|            null|    NULL|     RRB EMI ACCOUNT|      NULL|       NULL|           NULL|YESB0000824|            YES BANK| 000189900003441|     10128392|                    |           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258661799P...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    PUNBH23325525897|             null|           null|             null|   C|null|2023-11-21|
|YES0N33258681462|2023-11-21 14:52:03|  25000|NEFT|     SYSTEM|       NULL|         MR CHOTELAL|         NULL|          NULL|              NULL|  SBIN0RRMBGB| STATE BANK OF INDIA|  00000080008768988|            null|    NULL|     RRB EMI ACCOUNT|      NULL|       NULL|           NULL|YESB0000001|        YES BANK LTD| 000189900003441|     10128392|    ATTN MR CHOTELAL|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258681462M...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    MBGBH23325404018|             null|           null|             null|   C|null|2023-11-21|
|YES0N33258658629|2023-11-21 12:46:03|  84058|NEFT|     SYSTEM|       NULL|NARENDER SAHARAN ...|         NULL|          NULL|              NULL|  PUNB0HGB001|PUNJAB NATIONAL BANK|     80981900006184|            null|    NULL|YES BANK LTD MUMB...|      NULL|       NULL|           NULL|YESB0000001|        YES BANK LTD| 000189900003441|     10128392|                    |           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258658629P...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    PUNBB23325004750|             null|           null|             null|   C|null|2023-11-21|
|YES0N33258652256|2023-11-21 12:21:32|  60800|NEFT|     SYSTEM|       NULL|BHARATSINH MEGHJI...|         NULL|          NULL|              NULL|  GSCB0BVN001|GUJARAT STATE CO ...|       110001522456|            null|    NULL|     RRB EMI ACCOUNT|      NULL|       NULL|           NULL|YESB0000001|        YES BANK LTD| 000189900003441|     10128392|              MUMBAI|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258652256G...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    GSC0052393300133|             null|           null|             null|   C|null|2023-11-21|
|YES0N33258674798|2023-11-21 14:15:03|  67500|NEFT|     SYSTEM|       NULL|JAGTAP LAXMAN KAN...|         NULL|          NULL|              NULL|  AHDC0000109|THE AHMEDNAGAR DI...|    010910018005351|            null|    NULL|     RRB EMI ACCOUNT|      NULL|       NULL|           NULL|YESB0000001|        YES BANK LTD| 000189900003441|     10128392|     000189900003441|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258674798A...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    AHDC324230029631|             null|           null|             null|   C|null|2023-11-21|
|YESIG33250039651|2023-11-21 12:51:38|  83700|NEFT|API BANKING|       NULL|MUTHA SHANTABAI P...|         NULL|          NULL|              NULL|  YESB0VMCB01|        YES BANK LTD|    000200690000997|            null|    NULL|SANDESH BANSILAL ...|      NULL|       NULL|           NULL|ICIC0000044|      ICICI BANK LTD|    004401027968|         null|32327242 MUTHA SH...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250039651Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250039651|             null|           null|             null|null|null|2023-11-21|
|YES0N33258668463|2023-11-21 13:46:03|  36135|NEFT|     SYSTEM|       NULL|SARDA ENERGY MINE...|         NULL|          NULL|              NULL|  UTIB0000139|           AXIS BANK|    139010200009904|            null|    NULL|    ROYAL TANT HOUSE|      NULL|       NULL|           NULL|YESB0LMNSB2|            YES BANK| 000211001004057|         null| CUST  SARDA ENER...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258668463A...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    AXISCN0416799958|             null|           null|             null|null|null|2023-11-21|
|YES0N33258692060|2023-11-21 15:32:27| 200000|NEFT|     SYSTEM|       NULL|DIST SUPDT AGRI O...|         NULL|          NULL|              NULL|  MAHB0001196| BANK OF MAHARASHTRA|  00000020125545955|            null|    NULL|GAJANAN BABURAV N...|      NULL|       NULL|           NULL|YESB0AURDCC|        YES BANK LTD| 000211002003688|         null|                    |           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YES0N33258692060M...|        null|       17|         2|        9|    INR|2023-11-21 00:00:00|       IN|    298|       N02|          null|    MAHBH23325145369|             null|           null|             null|null|null|2023-11-21|
|YESIG33250061927|2023-11-21 16:27:00| 150000|NEFT|API BANKING|       NULL|    DHARA ENTERPRISE|         NULL|          NULL|              NULL|  YESB0RAJ001|        YES BANK LTD|    000231100001120|            null|    NULL|POONAM INDUSTRIES...|      NULL|       NULL|           NULL|TNCB0000011|THE NAWANAGAR COO...| 011000400000015|         null|0000000100289982 ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250061927Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250061927|             null|           null|             null|null|null|2023-11-21|
|YESIG33250027188|2023-11-21 11:53:49|  39998|NEFT|API BANKING|       NULL|  ANISH INDIA EXPORT|         NULL|          NULL|              NULL|  YESB0000001|        YES BANK LTD|    000286700000838|         2659012|    NULL|      Gautam Chawla |      NULL|       NULL|           NULL|ICIC0000364|      ICICI BANK LTD|    036405004726|         null|2311181148030002 ...|           null|                null|          NULL|           NULL|                 NULL|             NULL|     NULL|YESIG33250027188Y...|        null|        2|         0|        9|    INR|2023-11-21 00:00:00|      OUT|    298|       N06|          null|    YESIG33250027188|             null|           null|             null|   C|null|2023-11-21|
+----------------+-------------------+-------+----+-----------+-----------+--------------------+-------------+--------------+------------------+-------------+--------------------+-------------------+----------------+--------+--------------------+----------+-----------+---------------+-----------+--------------------+----------------+-------------+--------------------+---------------+--------------------+--------------+---------------+---------------------+-----------------+---------+--------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+
only showing top 20 rows

In [7]:
# Select columns for dummy_transactions_df
selected_columns = ['remitter_name', 'benef_name', 'benef_bank_name', 'direction']  # Replace with actual column names
dummy_transactions_df = df.select(selected_columns)

In [6]:
# Load the provided CSV files

#keywords_df = pd.read_csv("classification_keywords.csv")
# Load additional CSV files for the second part of the logic
# cerlic_df = pd.read_excel('Modified_Cerlic_Banks.xlsx')
# cerlic_df1 = StructType([StructField(col_name, StringType(), True) for col_name in cerlic_df.columns])
# cerlic_banks_df=spark.createDataFrame(cerlic_df,schema=cerlic_df1)

# related_party_df = pd.read_excel('Related party statistics .xlsx')
# related_party_df1 = StructType([StructField(col_name, StringType(), True) for col_name in related_party_df.columns])
# related_party_df=spark.createDataFrame(related_party_df,schema=related_party_df1)

In [15]:
# Define clean string UDF
start_time = time.time()

def clean_string(s):
    return s.replace(" ", "").lower() if s else ""
clean_string_udf = udf(clean_string, StringType())

# Clean data
cerlic_banks_df = cerlic_banks_df.withColumn("Borrower_Name", clean_string_udf(cerlic_banks_df["Borrower_Name"]))
cerlic_banks_df = cerlic_banks_df.withColumn("Name_of_Lender_Bank", clean_string_udf(cerlic_banks_df["Name_of_Lender_Bank"]))
related_party_df = related_party_df.withColumn("Related_Party_Name", clean_string_udf(related_party_df["Related_Party_Name"]))
related_party_df = related_party_df.withColumn("Borrower_Name", clean_string_udf(related_party_df["Borrower_Name"]))

# Add cleaned versions of remitter_name and beneficiary_name to dummy_transactions_df
dummy_transactions_df = dummy_transactions_df.withColumn("Remitter Name", clean_string_udf(dummy_transactions_df["remitter_name"]))
dummy_transactions_df = dummy_transactions_df.withColumn("Beneficiary Name", clean_string_udf(dummy_transactions_df["benef_name"]))
dummy_transactions_df = dummy_transactions_df.withColumn("Beneficiary Bank Name", clean_string_udf(dummy_transactions_df["benef_bank_name"]))

# Function to classify the bank
def classify_bank_v2(beneficiary_bank_name, remitter_name):
    remitter_name_clean = clean_string(remitter_name)
    beneficiary_bank_name_clean = clean_string(beneficiary_bank_name)
    return (remitter_name_clean, beneficiary_bank_name_clean)

classify_bank_udf_new = udf(classify_bank_v2, StringType())

# Function to classify the linkage
def classify_linkage_v2(beneficiary_name, remitter_name):
    beneficiary_name_clean = clean_string(beneficiary_name)
    remitter_name_clean = clean_string(remitter_name)
    return (beneficiary_name_clean, remitter_name_clean)

classify_linkage_udf_new = udf(classify_linkage_v2, StringType())

# Apply classification
dummy_transactions_df = dummy_transactions_df.withColumn(
    "Bank Classification",
    when(col("direction") == "Out", classify_bank_udf_new("benef_bank_name", "remitter_name")).otherwise("Others")
)
dummy_transactions_df = dummy_transactions_df.withColumn(
    "Linkage Classification",
    when(col("direction") == "Out", classify_linkage_udf_new("benef_bank_name", "remitter_name")).otherwise("Others")
)


# Load the keywords from a JSON file
with open('corporate_keywords.json', 'r') as file:
    data = json.load(file)
    corporate_keywords = data['corporate_keywords']
# Step 2: Convert the pandas DataFrame to a dictionary for keyword lookup

keywords_rows = keywords_df.collect()

# Initialize the dictionary
keywords_dict = {}

# Iterate over the rows
for row in keywords_rows:
    keywords_str = str(row['KEYWORDS']).strip()
    try:
        if keywords_str.startswith("[") and keywords_str.endswith("]"):
            keywords_list = ast.literal_eval(keywords_str)
        else:
            keywords_list = [keyword.strip() for keyword in keywords_str.split(",")]
        for keyword in keywords_list:
            keywords_dict[keyword.lower()] = (row['CATEGORY_LEVEL1'], row['CATEGORY_LEVEL2'])
    except Exception as e:
        print("Skipping this row...\n")

# Function to set category levels
def set_category_levels(base_txn_text, benef_name):
    base_txn_text = '' if base_txn_text is None else base_txn_text.lower()
    benef_name = '' if benef_name is None else benef_name.lower()
    
    for keyword, (cat_level1, cat_level2) in keywords_dict.items():
        if keyword in base_txn_text or keyword in benef_name:
            return (cat_level1, cat_level2)
    
    return ('OTHER TRANSFER', 'OTHER')

# Correcting the returnType to be StructType
schema = StructType([
    StructField("category_level1", StringType(), False),
    StructField("category_level2", StringType(), False)
])

# Register UDF for category levels
category_udf = udf(set_category_levels, schema)

def classify_transaction(benef_ifsc, benef_account_no, source, benef_name):
    def contains_corporate_keyword(name):
        return any(keyword in name.lower() for keyword in corporate_keywords)
    
    is_corporate = contains_corporate_keyword(benef_name)
    
    # Check if benef_ifsc starts with "YESB"
    if benef_ifsc and benef_ifsc.startswith("YESB"):
        # If source is not None, then use it to determine the output
        if source == 'current':
            return 'ybl_corp'
        elif source == 'saving':
            return 'ybl_ind'
        # If source is None, then decide based on is_corporate
        else:
            return 'ybl_corp' if is_corporate else 'ybl_ind'
    # If benef_ifsc does not start with "YESB"
    else:
        return 'non_ybl_cor' if is_corporate else 'non_ybl_ind'

classify_transaction_udf = udf(classify_transaction, StringType())
# Add a check to see if 'source' column exists in DataFrame and if not, add it with default None values
if 'source' not in df.columns:
    df = df.withColumn('source', lit(None))

# Perform the classification with the modified UDF that handles None source
df = df.withColumn('cor_ind_benf', classify_transaction_udf(
    col('benef_ifsc'),
    col('benef_account_no'),
    col('source'),
    col('benef_name'))
)

# First, create the 'categories' struct column
df = df.withColumn('categories', category_udf(col('base_txn_text'), col('benef_name')))

# Now, you can access the struct fields category_level1 and category_level2 from 'categories'
df = df.withColumn('category_level1', col('categories')['category_level1'])

# Define the UDF to check if all words in remitter_name are in benef_name
def all_words_present(remitter_name, benef_name):
    remitter_words = set(remitter_name.lower().split(' '))  # Split by space explicitly
    benef_words = set(benef_name.lower().split(' '))        # Split by space explicitly
    return remitter_words.issubset(benef_words)

# Register the UDF with Spark
all_words_present_udf = udf(all_words_present, BooleanType())

# Add a new column that uses the UDF to determine if category_level2 should be 'Personal Transfer'
df = df.withColumn(
    'category_level2',
    when(
        all_words_present_udf(col('remitter_name'), col('benef_name')),
        'PERSONAL TRANSFER'
    ).otherwise(
        col('categories')['category_level2']
    )
)

df = df.drop('categories', 'source')

# Assuming df and dummy_transactions_df are already defined and have a column 'txn_ref_no'

# Perform the join
result_df = df.join(
    dummy_transactions_df,
    df.remitter_name == dummy_transactions_df.remitter_name,
    "left_outer"
).select(
    df["*"],
    dummy_transactions_df["Bank Classification"],
    dummy_transactions_df["Linkage Classification"]
)

# Show the result
result_df.show(truncate=False)
end_time = time.time()
# Calculate the difference in seconds and then convert to minutes
execution_time_seconds = end_time - start_time
execution_time_minutes = execution_time_seconds / 60.0

print("Execution time in minutes: {:.2f}".format(execution_time_minutes))

Skipping this row...

+----------------+-------------------+-------+----+-----------+-----------+------------------------------+-------------+--------------+------------------+-------------+------------------+-------------------+----------------+--------+--------------------------------+----------+-----------+---------------+-----------+-------------------+----------------+-------------+-----------------------------------------------------+---------------+-----------------------------+--------------+---------------+---------------------+-----------------+---------+--------------------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+------------+---------------+-----------------+-------------------+----------------------+
|txn_ref_no      |txn_date           |txn_amt|mode|channel    |remitter_id|remitter_name                 |remitter_type|remitter_class|remitter_sub_class|remitter_ifsc|remitter_bank_name|remitter_account_no|remitter_cust_id|benef_id|benef_name                      |benef_type|benef_class|benef_sub_class|benef_ifsc |benef_bank_name    |benef_account_no|benef_cust_id|base_txn_text                                        |derived_txn_txt|rmtr_to_bene_note            |online_offline|recurrance_flag|recurrance_pattern_id|verification_flag|self_flag|txn_ref_key                     |channel_code|codstatus|acctstatus|msgstatus|codcurr|datvalue           |direction|msgtype|submsgtype|benef_nickname|iduserreference_2020|idrelatedref_2006|reasoncode_6346|rejectreason_6366|i_c |code|data_dt   |cor_ind_benf|category_level1|category_level2  |Bank Classification|Linkage Classification|
+----------------+-------------------+-------+----+-----------+-----------+------------------------------+-------------+--------------+------------------+-------------+------------------+-------------------+----------------+--------+--------------------------------+----------+-----------+---------------+-----------+-------------------+----------------+-------------+-----------------------------------------------------+---------------+-----------------------------+--------------+---------------+---------------------+-----------------+---------+--------------------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+------------+---------------+-----------------+-------------------+----------------------+
|YESIG33250062458|2023-11-21 16:12:26|196000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAM GOPAL PANKAJ KUMAR          |NULL      |NULL       |NULL           |BARB0COLKAN|BANK OF BARODA     |19140400005359  |null         |0231121152400333 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062458YESIG33250062458|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062458    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YESIG33250062458|2023-11-21 16:12:26|196000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAM GOPAL PANKAJ KUMAR          |NULL      |NULL       |NULL           |BARB0COLKAN|BANK OF BARODA     |19140400005359  |null         |0231121152400333 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062458YESIG33250062458|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062458    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YESIG33250062590|2023-11-21 16:15:04|204000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAJESH KUMAR AMRISH KUMAR AND CO|NULL      |NULL       |NULL           |SBIN0020814|STATE BANK OF INDIA|62011475176     |null         |0231121155018964 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062590YESIG33250062590|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062590    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YESIG33250062590|2023-11-21 16:15:04|204000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAJESH KUMAR AMRISH KUMAR AND CO|NULL      |NULL       |NULL           |SBIN0020814|STATE BANK OF INDIA|62011475176     |null         |0231121155018964 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062590YESIG33250062590|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062590    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|Others             |Others                |

#### level3

In [8]:
# Define clean string UDF
start_time = time.time()

def clean_string(s):
    return s.replace(" ", "").lower() if s else ""
clean_string_udf = udf(clean_string, StringType())

# Clean data
cerlic_banks_df = cerlic_banks_df.withColumn("Borrower_Name", clean_string_udf(cerlic_banks_df["Borrower_Name"]))
cerlic_banks_df = cerlic_banks_df.withColumn("Name_of_Lender_Bank", clean_string_udf(cerlic_banks_df["Name_of_Lender_Bank"]))
related_party_df = related_party_df.withColumn("Related_Party_Name", clean_string_udf(related_party_df["Related_Party_Name"]))
related_party_df = related_party_df.withColumn("Borrower_Name", clean_string_udf(related_party_df["Borrower_Name"]))

# Add cleaned versions of remitter_name and beneficiary_name to dummy_transactions_df
dummy_transactions_df = dummy_transactions_df.withColumn("Remitter Name", clean_string_udf(dummy_transactions_df["remitter_name"]))
dummy_transactions_df = dummy_transactions_df.withColumn("Beneficiary Name", clean_string_udf(dummy_transactions_df["benef_name"]))
dummy_transactions_df = dummy_transactions_df.withColumn("Beneficiary Bank Name", clean_string_udf(dummy_transactions_df["benef_bank_name"]))

# Function to classify the bank
def classify_bank_v2(beneficiary_bank_name, remitter_name):
    remitter_name_clean = clean_string(remitter_name)
    beneficiary_bank_name_clean = clean_string(beneficiary_bank_name)
    return (remitter_name_clean, beneficiary_bank_name_clean)

classify_bank_udf_new = udf(classify_bank_v2, StringType())

# Function to classify the linkage
def classify_linkage_v2(beneficiary_name, remitter_name):
    beneficiary_name_clean = clean_string(beneficiary_name)
    remitter_name_clean = clean_string(remitter_name)
    return (beneficiary_name_clean, remitter_name_clean)

classify_linkage_udf_new = udf(classify_linkage_v2, StringType())

# Apply classification
dummy_transactions_df = dummy_transactions_df.withColumn(
    "Bank Classification",
    when(col("direction") == "Out", classify_bank_udf_new("benef_bank_name", "remitter_name")).otherwise("Others")
)
dummy_transactions_df = dummy_transactions_df.withColumn(
    "Linkage Classification",
    when(col("direction") == "Out", classify_linkage_udf_new("benef_bank_name", "remitter_name")).otherwise("Others")
)


# Load the keywords from a JSON file
with open('corporate_keywords.json', 'r') as file:
    data = json.load(file)
    corporate_keywords = data['corporate_keywords']
# Step 2: Convert the pandas DataFrame to a dictionary for keyword lookup

keywords_rows = keywords_df.collect()

# Initialize the dictionary
keywords_dict = {}

# Iterate over the rows
for row in keywords_rows:
    keywords_str = str(row['KEYWORDS']).strip()
    try:
        if keywords_str.startswith("[") and keywords_str.endswith("]"):
            keywords_list = ast.literal_eval(keywords_str)
        else:
            keywords_list = [keyword.strip() for keyword in keywords_str.split(",")]
        for keyword in keywords_list:
            keywords_dict[keyword.lower()] = (row['CATEGORY_LEVEL1'], row['CATEGORY_LEVEL2'], row['CATEGORY_LEVEL3'])
    except Exception as e:
        print("Skipping this row...\n")

# Function to set category levels including category_level3
def set_category_levels(base_txn_text, benef_name):
    base_txn_text = '' if base_txn_text is None else base_txn_text.lower()
    benef_name = '' if benef_name is None else benef_name.lower()
    
    for keyword, (cat_level1, cat_level2, cat_level3) in keywords_dict.items():
        if keyword in base_txn_text or keyword in benef_name:
            return (cat_level1, cat_level2, cat_level3)
    
    return ('OTHER TRANSFER', 'OTHER', 'N/A')

# Update the schema for category_udf to include category_level3
schema = StructType([
    StructField("category_level1", StringType(), False),
    StructField("category_level2", StringType(), False),
    StructField("category_level3", StringType(), False)  # New field for category_level3
])


# Register UDF for category levels
category_udf = udf(set_category_levels, schema)

def classify_transaction(benef_ifsc, benef_account_no, source, benef_name):
    def contains_corporate_keyword(name):
        return any(keyword in name.lower() for keyword in corporate_keywords)
    
    is_corporate = contains_corporate_keyword(benef_name)
    
    # Check if benef_ifsc starts with "YESB"
    if benef_ifsc and benef_ifsc.startswith("YESB"):
        # If source is not None, then use it to determine the output
        if source == 'current':
            return 'ybl_corp'
        elif source == 'saving':
            return 'ybl_ind'
        # If source is None, then decide based on is_corporate
        else:
            return 'ybl_corp' if is_corporate else 'ybl_ind'
    # If benef_ifsc does not start with "YESB"
    else:
        return 'non_ybl_cor' if is_corporate else 'non_ybl_ind'

classify_transaction_udf = udf(classify_transaction, StringType())
# Add a check to see if 'source' column exists in DataFrame and if not, add it with default None values
if 'source' not in df.columns:
    df = df.withColumn('source', lit(None))

# Perform the classification with the modified UDF that handles None source
df = df.withColumn('cor_ind_benf', classify_transaction_udf(
    col('benef_ifsc'),
    col('benef_account_no'),
    col('source'),
    col('benef_name'))
)

# First, create the 'categories' struct column
df = df.withColumn('categories', category_udf(col('base_txn_text'), col('benef_name')))\
       .withColumn('category_level1', col('categories')['category_level1'])\
       .withColumn('category_level2', col('categories')['category_level2'])\
       .withColumn('category_level3', col('categories')['category_level3'])  # New line to add category_level3

# Now, you can access the struct fields category_level1 and category_level2 from 'categories'
df = df.withColumn('category_level1', col('categories')['category_level1'])

# Define the UDF to check if all words in remitter_name are in benef_name
# Define the UDF to check if all words in remitter_name are in benef_name
def all_words_present(remitter_name, benef_name):
    if remitter_name is None or benef_name is None:
        return False
    remitter_words = set(remitter_name.lower().split(' '))  # Split by space explicitly
    benef_words = set(benef_name.lower().split(' '))        # Split by space explicitly
    return remitter_words.issubset(benef_words)

# Register the UDF with Spark
all_words_present_udf = udf(all_words_present, BooleanType())

# Add a new column that uses the UDF to determine if category_level2 should be 'Personal Transfer'
df = df.withColumn(
    'category_level2',
    when(
        all_words_present_udf(col('remitter_name'), col('benef_name')),
        'PERSONAL TRANSFER'
    ).otherwise(
        col('categories')['category_level2']
    )
)

df = df.drop('categories', 'source')

# Assuming df and dummy_transactions_df are already defined and have a column 'txn_ref_no'

# Perform the join
result_df = df.join(
    dummy_transactions_df,
    df.remitter_name == dummy_transactions_df.remitter_name,
    "left_outer"
).select(
    df["*"],
    dummy_transactions_df["Bank Classification"],
    dummy_transactions_df["Linkage Classification"]
)

# Show the result
result_df.show(truncate=False)
end_time = time.time()
# Calculate the difference in seconds and then convert to minutes
execution_time_seconds = end_time - start_time
execution_time_minutes = execution_time_seconds / 60.0

print("Execution time in minutes: {:.2f}".format(execution_time_minutes))

Skipping this row...

+----------------+-------------------+-------+----+-----------+-----------+------------------------------+-------------+--------------+------------------+-------------+------------------+-------------------+----------------+--------+--------------------------------+----------+-----------+---------------+-----------+-------------------+----------------+-------------+-----------------------------------------------------+---------------+-----------------------------+--------------+---------------+---------------------+-----------------+---------+--------------------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+------------+---------------+-----------------+---------------+-------------------+----------------------+
|txn_ref_no      |txn_date           |txn_amt|mode|channel    |remitter_id|remitter_name                 |remitter_type|remitter_class|remitter_sub_class|remitter_ifsc|remitter_bank_name|remitter_account_no|remitter_cust_id|benef_id|benef_name                      |benef_type|benef_class|benef_sub_class|benef_ifsc |benef_bank_name    |benef_account_no|benef_cust_id|base_txn_text                                        |derived_txn_txt|rmtr_to_bene_note            |online_offline|recurrance_flag|recurrance_pattern_id|verification_flag|self_flag|txn_ref_key                     |channel_code|codstatus|acctstatus|msgstatus|codcurr|datvalue           |direction|msgtype|submsgtype|benef_nickname|iduserreference_2020|idrelatedref_2006|reasoncode_6346|rejectreason_6366|i_c |code|data_dt   |cor_ind_benf|category_level1|category_level2  |category_level3|Bank Classification|Linkage Classification|
+----------------+-------------------+-------+----+-----------+-----------+------------------------------+-------------+--------------+------------------+-------------+------------------+-------------------+----------------+--------+--------------------------------+----------+-----------+---------------+-----------+-------------------+----------------+-------------+-----------------------------------------------------+---------------+-----------------------------+--------------+---------------+---------------------+-----------------+---------+--------------------------------+------------+---------+----------+---------+-------+-------------------+---------+-------+----------+--------------+--------------------+-----------------+---------------+-----------------+----+----+----------+------------+---------------+-----------------+---------------+-------------------+----------------------+
|YESIG33250062458|2023-11-21 16:12:26|196000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAM GOPAL PANKAJ KUMAR          |NULL      |NULL       |NULL           |BARB0COLKAN|BANK OF BARODA     |19140400005359  |null         |0231121152400333 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062458YESIG33250062458|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062458    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YESIG33250062458|2023-11-21 16:12:26|196000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAM GOPAL PANKAJ KUMAR          |NULL      |NULL       |NULL           |BARB0COLKAN|BANK OF BARODA     |19140400005359  |null         |0231121152400333 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062458YESIG33250062458|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062458    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YESIG33250062590|2023-11-21 16:15:04|204000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAJESH KUMAR AMRISH KUMAR AND CO|NULL      |NULL       |NULL           |SBIN0020814|STATE BANK OF INDIA|62011475176     |null         |0231121155018964 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062590YESIG33250062590|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062590    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YESIG33250062590|2023-11-21 16:15:04|204000 |NEFT|API BANKING|NULL       |MILKONA FOODS                 |NULL         |NULL          |NULL              |YESB0UMCBHO  |YES BANK LTD      |000023700090901    |null            |NULL    |RAJESH KUMAR AMRISH KUMAR AND CO|NULL      |NULL       |NULL           |SBIN0020814|STATE BANK OF INDIA|62011475176     |null         |0231121155018964 RTGS NEFT PAYMENT BY UMCBYESB0UMCBHO|null           |null                         |NULL          |NULL           |NULL                 |NULL             |NULL     |YESIG33250062590YESIG33250062590|null        |2        |0         |9        |INR    |2023-11-21 00:00:00|OUT      |298    |N06       |null          |YESIG33250062590    |null             |null           |null             |null|null|2023-11-21|non_ybl_ind |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |
|YES0N33258621289|2023-11-21 09:25:03|16000  |NEFT|SYSTEM     |NULL       |YPP LIMIT NEFT OUTWARD ACCOUNT|NULL         |NULL          |NULL              |YESB0000001  |YES BANK LTD      |115063600000745    |21681546        |NULL    |GARDEN VILLA                    |NULL      |NULL       |NULL           |YESB0DEVB01|YES BANK LTD       |000100052901    |null         |FIDYPAY DEVELOPMENT COOP BANKYESB0000001             |null           |Fidypay Development Coop Bank|NULL          |NULL           |NULL                 |NULL             |NULL     |YES0N33258621289YESEB33250010255|ESB_FT      |17       |2         |9        |INR    |2023-11-21 00:00:00|IN       |298    |N02       |null          |YESEB33250010255    |null             |null           |null             |C   |null|2023-11-21|ybl_ind     |SELF TRANSFER  |PERSONAL TRANSFER|NaN            |Others             |Others                |